@import '../../../../styles/colors.scss';
@import '../../../../styles/consts.scss';

section.search-bar {
  padding: 6rem 6rem 3rem;
  opacity: .9;
  
  display: flex;

  div {
    width: 100rem;
    margin-inline: auto;
    
    display: flex;
    align-items: center;

    padding: 1rem 1.5rem;

    border-radius: .3rem;
    border: 1px solid $black;

    input[type="text"] {
      width: 100%;
      background-color: $background;
    }

    span {
      &:hover {
        cursor: pointer;
        opacity: .5;
      }
    }
  }

  @media(max-width: 800px) {
    padding-inline: 0;
  }

  @media(max-width: 455px) {
    padding-inline: 4rem;
  }
}
