@import '../../../../styles/colors.scss';
@import '../../../../styles/consts.scss';


article {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: .7rem;

  background-color: $white;
  border-radius: 1rem;
  box-shadow: 0px 3px 6px $lightgray;

  img { 
    width: 100%;
    height: 100%;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;

    h5 {
      font-size: $font-large;
    }
  }

  .add-product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  
    background-color: $primaryLight;
    
    width: 100%;
    height: 3.5rem;
    
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    span {
      font-size: $font-normal;
      color: $white;
    }
  }
  
  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: transform 150ms;
    filter: brightness(1.03);
  }

  @media(max-width: 1060px) {
  }
}