$container: 120rem;
$container-medium: 90rem;
$container-small: 70rem;
$container-xsmall: 50rem;
$font-xlarge: 3rem;
$font-mlarge: 2.4rem;
$font-slarge: 2rem;
$font-large: 1.8rem;
$font-normal: 1.6rem;
$font-small: 1.4rem;
$bold: 700;
$semibold: 600;
$normal: 400;
