@import "../styles/colors.scss";
@import "../styles/consts.scss";

:root {
  font-size: 62.5%;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $background;
  margin-inline: auto;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

.container {
  width: $container;
  margin-inline: auto;

  @media(max-width: 1300px) {
    width: $container-medium;
  }

  @media(max-width: 1060px) {
    width: $container-small;
  }

  @media(max-width: 800px) {
    width: 40rem;
  }

  @media(max-width: 455px) {
    width: 100%;
    padding: 2.5rem;
  }

}