@import "../styles/colors.scss";
@import "../styles/consts.scss";

:root {
  font-size: 62.5%;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: $background;
  margin-inline: auto;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type="password"],
input[type="email"],
input[type="text"] {
  border: none;
  outline: none;
}

.container {
  width: $container;
  margin-inline: auto;
}