@import '../../../../styles/consts.scss';
@import '../../../../styles/colors.scss';

.summary {
  padding: 2rem;

  max-height: 33rem;

  border-radius: .5rem;
  box-shadow: 0 4px 15px lightgray;
  background-color: $white;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  
  .summary__values {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    h2 {
      text-align: center;
      font-size: $font-slarge;
    }
  
    .summary__subtotal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      
      .subtotal__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5, span {
          font-weight: $semibold;
        }
      }
      
      .subtotal__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
  
        .subtotal__item {
          display: flex;
          align-items: center;
          justify-content: space-between;      

          .item__title  {
            font-weight: $normal;
          }

          &.add {
            color: green;
          }
          &.subtract {
            color: red;
          }
        }
      }
    }
  
    .summary__total {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-weight: $normal;
      }
  
      h3, h4 {
        font-size: $font-mlarge;
        text-align: center;
      }
    }
  }
}