@import '../../../../styles/colors.scss';

.table__header {
  padding: 0 0 1.5rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr .5fr;

  border-bottom: 1px solid $lightgray;

  h3:not(:first-child) {
    text-align: center;
  }
}
