@import '../../../../styles/colors.scss';
@import '../../../../styles/consts.scss';

.items__item {
  padding: 1.5rem 0 0 0;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr .5fr;

  box-shadow: 0 4px 3px -3px lightgrey;

  .item__description {
    display: flex;
    align-items: center;
    gap: 2rem;

    img {
      height: 7rem;
    }
  }

  .item__add-button, .item__remove-button {
    background: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }

  .item__amount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }
  
  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: $normal;
  }

  .item__delete-product {
    background: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      &:hover {
        cursor: pointer;

        path {
          fill: $orange;
        }
      }
    }
  }
}
